cat > /cloud.functions <<'EOF'
function download_resource {
	uri="`curl -s "https://vast.goddard.nz/${project}/${machine}/url/resource/${1}"`"
	if [[ $? == 0 ]]
		then
		curl -s "$uri" > "$1"
	fi
}

function upload_output {
	url="`curl -s "https://vast.goddard.nz/${project}/${machine}/url/output/${1}"`"
	if [[ $? == 0 ]]
		then
		curl -s -X PUT -T "$1" "$url"
	fi
}

function run_script_url {
	temp=$(mktemp)
	curl -s "$1" > "${temp}" && source "${temp}"
	rm -f "${temp}"
}
EOF
source /cloud.functions

if [[ "${project}" == "" ]]
	then
	echo "Error: Project name not set"
	exit 1
fi

if [[ "${machine}" == "" ]]
	then
	echo "Error: Machine ID not set"
	exit 1
fi

basedir=`pwd`

if [ ! -e /.setup-complete ]
	then
	cd "$basedir"
	run_script_url "https://vast.goddard.nz/${project}/${machine}/setup.sh"
	touch /.setup-complete
fi

cd "$basedir"
upload_output onstart.log
run_script_url "https://vast.goddard.nz/${project}/${machine}/startup.sh"

